.large-container{
    width: 60vw;
    
    margin: auto;
    /* debug */
    background-color: rgb(195, 195, 241);
}

.small-container{
    width: 50vw;
    margin: auto;
    /* debug */
    background-color: rgb(0, 166, 255);
}

/*header*/
/* 
DAI POSITION FIXED
*/
header{
    width: 100vw;
/* 
NON DOVREBBE SERVIRE FLEX
 */
    display: flex;
    align-items: center;
    height: 4rem;
}

.left-nav, .right-nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*main-jumbo*/

.jumbotron-content{
    display: flex;
}

h1{
    font-weight: 800;
    font-size: 58px;
    line-height: 5rem;
    padding: 4rem 0 1.5rem;
}

.img-col{
    min-width: 70%;
}

.text-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 0 0.5rem;
}

/*main-section-top*/
h2{
    font-weight: 600;
    font-size: 38px;
    line-height: 5rem;
    padding: 4rem 0 1.5rem;
}
.select{
    border: solid 2px;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

/* RIVEDI */
/* select .select-on{
    border: red 5px;
} */

.col-3{
display: flex;
gap: 1rem;

}

.col{
  border: solid; 
  display: block; 
}

/* .top-col{
    text-align: center;
} */

/* business features */
.business-features{
    display: flex;
}



/*sponsor*/
.sponsor{
   display: flex;
   justify-content: space-between;
    
    /* debug */
    background-color: red;
    
}

.sponsor-left, .sponsor-right, .sponsor-text{
    display: flex;
    width: calc(100% / 3);
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: contain;
}

.square{
    display: flex;
    width: 15rem;
    height: 15rem;
    background-color: yellow;
}

/* main-section-bottom */

/* footer */
footer{
    color: white;
    width: 100vw;
    background-color: black; 
}

h3{
	font-size: 20px;
    font-weight: bold;
    padding-bottom: 1rem;
}

.footer-column {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    color: white;
    font-size: 13px;
}

.footer-bottom {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 3rem 0;

}

.footer-bottom > button {
	color: inherit;
    border: none;
    background-color: transparent;

}

