.large-container{
    width: 60vw;
    margin: auto;
}

.small-container{
    width: 50vw;
    margin: auto;
    padding-top: 4rem;
}

/* background */

.jumbotron, .free-trial{
    background-color: #b4d0e7 ;
    width: 100vw;
    padding-top: 4rem;
}

/*header*/
header{
    width: 100vw;
   /*  position: fixed; */
    z-index: 1;
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 4rem;
}

.left-nav, .right-nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*main-jumbo*/

.img-text-jumbo{
    display: flex;
}

.img-col{
    min-width: 70%;
    position: relative;
    top: 3rem;
}

.text-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 1rem;
}

.fa-arrow-down{
    font-size: 36px;
}

/*business plan*/

.business-plan-contanier{
    padding-top: 4rem;
}

.select-plan{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
}

.fa-circle-dot{
    color: #0061ff;
}
.fa-circle{
    color: lightgray;
}
.container-plan-option{
    display: flex;
    gap: 2rem;
    font-size: 13px;
}

.col{
  border: solid thin lightgray;
  display: block; 
  margin-top: 3rem;
}

.top-col{
    text-align: center;
    border-bottom: solid thin lightgray;
    padding: 0.3rem;
}

.main-col{
    padding: 2rem 1rem 2rem;
}

.price{
    font-weight: 700;
}

.price-time{
    color: #333333;
}

.padding-plan{
    padding: 1rem 0;
}

.col .button-blue{
    padding-left: 1rem;
}

 hr{
    border-color: transparent;
    border-bottom: solid thin lightgray;
    height: 0;
    width: 20%;
}

/* contatta ufficio vendite */
.ufficio-vendite {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* trova partner */
.img-text-partner{
    display: flex;
    gap: 2rem;
    margin-top: 8rem;
}

.img-partner{
    width: 75%;
}

.text-partner{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2rem;
}

/* business features */
.operazioni-business{
    margin-top: 6rem;
}

.business-feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.card-feature{
    width: calc(100% / 3 - 2rem);
}

.business-bottom-section{
    height: 25rem;
    display: flex;
    gap: 2rem;
    width: 66%;
    flex-direction: column;
    justify-content: center;
}

/*partner*/
.partner-container{
   display: flex;
   justify-content: space-between;
   width: 100vw;    
}

.partner-container > * {
    display: flex;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    flex-direction: row;
    flex-wrap: wrap;
}

.square{
    display: flex;
    width: 50%;
    min-height: 50%;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.img-square{
    filter: invert(1);
}

/* non riesco a mettere il bordo chiaro */
.square-left-1{
    background-color: #a2d39b;
}
.square-left-2{
    background-color: #61082b;
}
.square-left-3{
    background-color: #0093ce;
}
.square-left-4{
    background-color: #ff1c1c;
}

.partner-sect-center{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 3rem;
    background-color: #f5f5f5;
}
.logo-partner{
    width: 50%;
}

.square-right-1{
    background-color: #d5001f;
}
.square-right-2{
    background-color: #b4d0e7;
}
.square-right-3{
    background-color: #0d2481;
}
.square-right-4{
    background-color:#ffd830;
}


/* main-section-bottom */

.free-trial-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
}

.text-free-trial{
    width: 50%;
    color: #610843;
}

/* faq */
.faq{
    padding: 5rem 0;
}

.faq-content{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.hr-faq{
    width: 100%;
    border-color: transparent;
    height: 0;
    border-top-color: gray;
}
/* footer */
footer{
    color: white;
    width: 100vw;
    background-color: black; 
}

.footer-top-container {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
    color: white;
    font-size: 13px;
}

.footer-column{
    line-height: 2rem;
}

.footer-title{
    padding-bottom: 1rem;
}

.footer-bottom {
    color: gray;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 3rem 0;
    align-items: center;

}

.footer-bottom > button {
	color: inherit;
    border: none;
    background-color: transparent;

}


