/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.button-blue{
	font-size: 13px;
    border: none;
    background-color: blue;
    color: white;
    padding: 8px 13px 6px;
}

.button-white{
	border: gray;
	color: black;
}

li{
	list-style: none;
}

a:not(.buy-now){
	text-decoration: none;
	color: inherit;
}

nav{
	display: flex;
    justify-content: space-between;
    width: 100vw;
	margin: 0 1rem;
}

.link-nav{
	display: flex;
    gap: 2rem;
}

p{
	font-size: 14px;
    line-height: 1;
}

span{
	font-size: 12px;
}

.check{
	color: rgb(66, 66, 212);
}