/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.button-blue{
	border: none;
	background-color: blue;
	color: white;
	padding: 5px 14px;
}

.button-white{
	border: gray;
	color: black;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

nav{
	display: flex;
    justify-content: space-between;
    width: 100vw;
	margin: 0 1rem;
}

.link-nav{
	display: flex;
    gap: 2rem;
}