/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

h1{
    font-weight: 800;
    font-size: 58px;
    line-height: 5rem;
    padding-top: 4rem;
}

h2{
    font-weight: 700;
    font-size: 32px;
}

h3{
	font-size: 20px;
    font-weight: bold;
    line-height: 1.5rem;
}

h4{
	font-weight: bold;
}

.button-blue{
	font-size: 13px;
    border: none;
    background-color: #0061ff;
    color: white;
    padding: 8px 13px 6px;
}

.button-white{
	font-size: 14px;
	color: black;
	padding: 8px 13px 6px;
}

li{
	list-style: none;
}

a:not(.buy-now){
	text-decoration: none;
	color: inherit;
}

nav{
	display: flex;
    justify-content: space-between;
    width: 100vw;
	margin: 0 1rem;
}

.link-nav{
	display: flex;
    gap: 2rem;
}

p{
	font-size: 14px;
    line-height: 1;
}

span{
	font-size: 12px;
}

.check{
	color: #0061ff;
}